apiVersion: v1
kind: Service
metadata:
  name: cloud-edge-platform
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
  selector:
    app: cloud-edge-platform
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-edge-platform
spec:
  selector:
    matchLabels:
      app: cloud-edge-platform
  replicas: 1
  template:
    metadata:
      labels:
        app: cloud-edge-platform
    spec:
      containers:
        - name: cloud-edge-platform
          image: 100.105.103.116:5000/cloud-edge-platform:v1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 100m
              memory: 500Mi
            limits:
              cpu: 400m
              memory: 2000Mi
          readinessProbe:
            tcpSocket:
              port: 8848
            initialDelaySeconds: 160
            periodSeconds: 10
            timeoutSeconds: 5
          env:
            - name: REGISTRY_IP # 注册中心地址
              value: ""
            - name: REGISTRY_PORT # 注册中心端口
              value: ""
            - name: KUBESPHERE_URL # Kubesphere
              value: ""
            - name: KUBESPHERE_USERANME # Kubesphere用户名
              value: ""
            - name: KUBESPHERE_PASSWORD # Kubesphere密码
              value: ""
