/**
 * src\Pages\Cluster\network\canvas.js
*/

/* .clusters rect {
  fill: #00ffd0;
  stroke: #999;
  stroke-width: 1.5px;
} */

text {
  font-weight: 300;
  font-family: Open Sans;
  font-size: 14px;
}

/* .node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
} */

.cluster_link {
  opacity: 0.5 !important;
}

/* .server_link {
  cursor: pointer;
} */

foreignObject {
  overflow: visible;
}

[class*="server_node"] {
  cursor: pointer;
}