.progress{
    height: 10;
    border-radius: 5;
}

.middle-box{
    width: 100%;
}

.time{
    right: 0;
}

.trace-id{
    font-size: 12px;
    font-weight: bold;
}

.space1{
    padding-top: 2px;
    padding-bottom: 2px;
}

.space2{
    padding-top: 2px;
    padding-bottom: 5px;
}

.title{
    font-size: 14px;
    font-weight: bold;
}